@using System.Security.Principal;
@RenderSection("scripts", required: false)
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>INTRANET GEOLOGY CMCC</title>
    <meta name="author" content="GEOBYTE">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/magnific-popup/magnific-popup.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/dropzone/css/basic.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/dropzone/css/dropzone.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/summernote/summernote.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/summernote/summernote-bs3.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="~/Scripts/assets/vendor/codemirror/theme/monokai.css" />

    <link rel="stylesheet" href="~/Scripts/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <link href="~/Scripts/assets/vendor/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Scripts/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="~/Scripts/jquery-3.4.0.js"></script>
   




</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="../" class="logo">

                    <img src="~/Images/LOGO CERRO COLORADO BHP.png" height="35" />
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">





                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">

                        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name">Bienvenido:</span>
                            <span class="name">@User.Identity.Name</span>

                        </div>

                    </a>


                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">

            @Html.Partial("_Menu")


            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>INTRANET</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li><span>Ubicación</span></li>
                            <li><span>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</span></li>
                            <li><span>@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()</span></li>
                        </ol>

                        <div class="sidebar-right-toggle"></div>
                    </div>
                </header>

                @RenderBody()

                <!-- end: page -->
            </section>
        </div>


    </section>

    <!-- Vendor -->
    <script src="~/Scripts/assets/vendor/jquery/jquery.js"></script>
    <script src="~/Scripts/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/assets/vendor/nanoscroller/nanoscroller.js"></script>

    <script src="~/Scripts/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="~/Scripts/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/Scripts/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Scripts/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/assets/vendor/select2/select2.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="~/Scripts/assets/vendor/dropzone/dropzone.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-markdown/js/markdown.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-markdown/js/to-markdown.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/lib/codemirror.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/addon/selection/active-line.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/Scripts/assets/vendor/codemirror/mode/css/css.js"></script>
    <script src="~/Scripts/assets/vendor/summernote/summernote.js"></script>
    <script src="~/Scripts/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/Scripts/assets/vendor/ios7-switch/ios7-switch.js"></script>

    

    <script src="~/Scripts/assets/vendor/modernizr/modernizr.js"></script>
    <!-- Examples -->
    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/assets/javascripts/theme.js"></script>
    <!-- Theme Custom -->
    <script src="~/Scripts/assets/javascripts/theme.custom.js"></script>
    <!-- Theme Initialization Files -->
    <script src="~/Scripts/assets/javascripts/theme.init.js"></script>
    <script src="~/Scripts/assets/javascripts/forms/examples.advanced.form.js"> </script>
 

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/modernizr-custom.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>


    <script src="~/Scripts/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/assets/vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>

</body>
</html>
<script type="text/javascript">

    //Script formato tabla
   
        $(document).ready(function () {
            $('#info').DataTable({
                "autoWidth": false,
                language: {
                    search: "Buscar",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    lengthMenu: "Mostrar _MENU_ registros",
                    loadingRecords: "Cargando datos",
                    zeroRecords: "Sin datos",
                    paginate:
                        {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                    aria: {
                        sortAscending: ": ordenar ascendente",
                        sortDescending: ": ordenar descendente"
                    }
                },
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'STD_Definition' },
                    { extend: 'pdf', title: 'STD_Definition' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });


        });

       /* $("#fy")
          .keyup(function () {
              var value = $(this).val();
                  $("#FechaDesde").datepicker({
                      dateFormat: 'dd/MM/yy',
              }).datepicker("setDate", "01/05/2017");

          })
          .keyup();*/
        var loadLabDup = function () {
            var lines = new Array();
            lines.push($("#ProjectList").val());
            lines = JSON.stringify(lines);
            var perf = new Array();
            perf.push($("#DrillTypeList").val());
            perf = JSON.stringify(perf);
            var check = new Array();
            check.push($("#CheckStageList").val());
            check = JSON.stringify(check);
            var status = new Array();
            status.push($("#HoleStatusList").val());
            status = JSON.stringify(status);
            $('#LabDup').find('option').remove().end();
            $.get('@Url.Action("LabDup", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), project: lines, drill: perf, check: check, holestatus: status, priority: $("#StatusLista").val() }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#LabDup");
                })
            })
        };
        //Script carga lista de suite
        var loadSuiteDup = function () {
            var lines = new Array();
            lines.push($("#ProjectList").val());
            lines = JSON.stringify(lines);
            var perf = new Array();
            perf.push($("#DrillTypeList").val());
            perf = JSON.stringify(perf);
            var check = new Array();
            check.push($("#CheckStageList").val());
            check = JSON.stringify(check);
            var status = new Array();
            status.push($("#HoleStatusList").val());
            status = JSON.stringify(status);
            var labdup = new Array();
            labdup.push($("#LabDup").val());
            labdup = JSON.stringify(labdup);
            $('#SuiteListaDup').find('option').remove().end();
            $.get('@Url.Action("SuiteList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), project: lines, drill: perf, check: check, holestatus: status, priority: $("#StatusLista").val(), labdup: labdup }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#SuiteListaDup");
                })
            })
        };
        //Script carga lista de elementos dup
        var loadElemStd = function () {

            var standard = new Array();
            standard.push($("#StandardidLista").val());
            standard = JSON.stringify(standard);
            var suitelist = new Array();
            suitelist.push($("#SuiteLista").val());
            suitelist = JSON.stringify(suitelist);
            var Lab = new Array();
            Lab.push($("#Lab").val());
            Lab = JSON.stringify(Lab);
            $('#ElementosLista').find('option').remove().end();
            $.get('@Url.Action("ElemntListStd", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), std: standard, priority: $("#StatusLista").val(), suite: suitelist ,lab:Lab}, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#ElementosLista");
                })
            })
        };



        //Script carga lista de elementos dup
        var loadElemDup = function () {
            var lines = new Array();
            lines.push($("#ProjectList").val());
            lines = JSON.stringify(lines);
            var perf = new Array();
            perf.push($("#DrillTypeList").val());
            perf = JSON.stringify(perf);
            var check = new Array();
            check.push($("#CheckStageList").val());
            check = JSON.stringify(check);
            var status = new Array();
            status.push($("#HoleStatusList").val());
            status = JSON.stringify(status);
            var suitelist = new Array();
            suitelist.push($("#SuiteListaDup").val());
            suitelist = JSON.stringify(suitelist);
            $('#ElementosLista').find('option').remove().end();
            $.get('@Url.Action("ElemntListDup", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), project: lines, drill: perf, check: check, holestatus: status, priority: $("#StatusLista").val(), suite : suitelist }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#ElementosLista");
                })
            })
        };
        //Script carga lista de checkstage
        var loadCheck = function () {
            var lines = new Array();
            lines.push($("#ProjectList").val());
            lines = JSON.stringify(lines);
            var perf = new Array();
            perf.push($("#DrillTypeList").val());
            perf = JSON.stringify(perf);
            var status = new Array();
            status.push($("#HoleStatusList").val());
            status = JSON.stringify(status);
            $('#CheckStageList').find('option').remove().end();
            $.get('@Url.Action("CheckList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), project: lines, check: perf, holestatus: status }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#CheckStageList");
                })
            })
        };
        //Script carga lista de projecto
        var loadProject = function () {
            $.get('@Url.Action("ProjectList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val() }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#ProjectList");
                })
            })
        };
        //Script carga lista de drilltype
        var loadDrill = function () {
            var lines = new Array();
            var status = new Array();
            lines.push($("#ProjectList").val());
            lines = JSON.stringify(lines);
            status.push($("#HoleStatusList").val());
            status = JSON.stringify(status);
            $('#DrillTypeList').find('option').remove().end();
            $.get('@Url.Action("DrillTypeList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), project: lines, holestatus: status }, function (data) {
                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#DrillTypeList");
                })
            })
        };
        //Script carga lista de holestatus
        var loadHoleStatus = function () {
            var lines = new Array();
            lines.push($("#ProjectList").val());
            lines = JSON.stringify(lines);
            $('#HoleStatusList').find('option').remove().end();
            $.get('@Url.Action("HoleStatusList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), project: lines }, function (data) {

                $.each(data, function (index, value) {

                    $('<option>').val(value).text(value).appendTo("#HoleStatusList");
                })
            })
        };
        //Script carga lista de standar
        var loadStd = function () {
            var Lab = new Array();
            Lab.push($("#Lab").val());
            Lab = JSON.stringify(Lab);
            var SuiteLista = new Array();
            SuiteLista.push($("#SuiteLista").val());
            SuiteLista = JSON.stringify(SuiteLista);
            $('#StandardidLista').find('option').remove().end();
            $.get('@Url.Action("StdList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), tipo: $("#tipo").val(), lab: Lab, suite: SuiteLista }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#StandardidLista");
                })
            })




        };
        var loadLab = function () {

            $('#Lab').find('option').remove().end();
            $.get('@Url.Action("LabList", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), tipo: $("#tipo").val() }, function (data) {

                $.each(data, function (index, value) {
                     $('<option>').val(value).text(value).appendTo("#Lab");
                })
            })




        };
        var loadSuite = function () {
            var lines = new Array();
            lines.push($("#Lab").val());
            lines = JSON.stringify(lines);
            $('#SuiteLista').find('option').remove().end();
            $.get('@Url.Action("StdSuite", "Home")', { desde: $("#FechaDesde").val(), hasta: $("#FechaHasta").val(), lab: lines, tipo: $("#tipo").val() }, function (data) {

                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#SuiteLista");
                })
            })
        };
        //Script configuración datepicker
        $(function () { // will trigger when the document is ready
            $('#sandbox-container').datepicker(
                {
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    locale: 'es',
                    //orientation: "bottom",
                    language: 'es'

                }).on('changeDate', function (ev) {
                    //loadStd();
                    loadLab();
                    $('#ProjectList').find('option').remove().end();
                    loadProject();
                    var minDate = $("#FechaDesde").val().split("/")
                    minDate = new Date(minDate[2], minDate[1] - 1, minDate[0]);
                    $('#sandbox-container1').datepicker('setStartDate', minDate);
                });

            $('#sandbox-container1').datepicker(
                 {

                     format: 'dd/mm/yyyy',
                     autoclose: true,
                     locale: 'es',
           
                     language: 'es',

                 }).on('changeDate', function (ev) {
                     //loadStd();
                     loadLab();
                     $('#ProjectList').find('option').remove().end();
                     loadProject();
                 }); //Initialise any date pickers
        });
        //Script carga lista de elementos
        var loadElement = function () {

            $('#ElementosLista').find('option').remove().end();
            $.get('@Url.Action("elementosList", "Home")', { suite: $("#SuiteLista option:selected").text() }, function (data) {
                //console.log(data)
                $.each(data, function (index, value) {
                    $('<option>').val(value).text(value).appendTo("#ElementosLista");
                })
            })
        };
        // Disparadores de carga de listas
        $('#CheckStageList').change(function () {
           // loadSuiteDup();
            loadLabDup();

        })
        $('#LabDup').change(function () {
            loadSuiteDup();
            //loadLabDup();

        })
        $('#HoleStatusList').change(function () {
            loadDrill();
        })
        $('#StatusLista').change(function () {
            // loadSuiteDup();
            loadElemDup();
        })
        $('#Lab').change(function () {
            loadSuite();

            return false;
        })
        $('#StandardidLista,#ProjectList').change(function () {
            //loadSuite();
            loadElemStd();
            loadHoleStatus();
            return false;
        })
        $('#SuiteLista').change(function () {
            loadStd();
            loadElemStd();
            return false;
        })
        $('#PrioridadLista').change(function () {
           // loadStd();
            loadElemStd();
            return false;
        })
        $('#SuiteListaDup').change(function () {
            loadElemDup();
            return false;
        })
        $('#DrillTypeList').change(function () {
            loadCheck();
            return false;
        })


        $(document).ready(function () {
            var minDate = $("#FechaDesde").val().split("/");
            minDate = new Date(minDate[2], minDate[1] - 1, minDate[0]);
            $('#sandbox-container1').datepicker('setStartDate', minDate);
            if ($("#FechaDesde").length) {
                //loadStd();
                loadLab();
                loadSuite();
                loadProject();
                loadDrill();
            }
            return false;
        });
</script>


<script>

        // Funcion validad fecha menor y mayor
        $.validator.addMethod("maxDate", function (value, element) {
            var curDate = $("#FechaDesde").val().split("/");
            curDate = new Date(curDate[2], curDate[1] - 1, curDate[0])
            value = value.split("/");
            value = new Date(value[2], value[1] - 1, value[0])
            var inputDate = new Date(value);
            if (inputDate >= curDate)
                return true;
            return false;
        }, "Invalid Date!");
        //Script Validación Formulario
        $(".qaqc-form").validate(
             {
                 rules: {
                     FechaDesde: "required",
                     FechaHasta: {
                         required: true,
                         maxDate: true
                     },
                     StandardidLista: "required",
                     PrioridadLista: "required",
                     SuiteLista: "required",
                     ElementosLista: "required",
                     ProjectList: "required",
                     DrillTypeList: "required",
                     CheckStageList: "required",
                     MinAssayValue: "required",
                 },
                 messages: {
                     FechaDesde: "Ingresa Fecha de Inicio",
                     FechaHasta: "Fecha de Fin Debe Ser Mayor a Hasta",
                     StandardidLista: "Selecciona Estándar",
                     PrioridadLista: "Selecciona Prioridad",
                     SuiteLista: "Selecciona Suite",
                     ElementosLista: "Selecciona Elemento",
                     ProjectList: "Selecciona Projecto",
                     DrillTypeList: "Selecciona Tipo Perf.",
                     CheckStageList: "Selecciona Check Stage",
                     MinAssayValue: "Ingresa Valor Mínimo",
                 },
                 errorElement: "em",
                 errorPlacement: function (error, element) {
                     // Add the `help-block` class to the error element
                    error.addClass("help-block");

                     if (element.prop("type") === "checkbox") {
                         error.insertAfter(element.parent("label"));
                     } else {
                         error.insertAfter(element);
                     }
                 },
                 highlight: function (element, errorClass, validClass) {
                     $(element).parents(".col-sm-2,.col-md-1,.col-md-2").addClass("has-error").removeClass("has-success");
                 },
                 unhighlight: function (element, errorClass, validClass) {
                     $(element).parents(".col-sm-2,.col-md-1,.col-md-2").addClass("has-success").removeClass("has-error");
                 }

             } );

</script>