@{ Layout = null; }
<header class="panel-heading">
    <div class="panel-actions">
        <a href="#" class="fa fa-caret-down"></a>
        <a href="#" class="fa fa-times"></a>
    </div>

    <h2 class="panel-title">IMPORTADOR DE ARCHIVOS:     @ViewBag.holeidv</h2>
</header>

<div class="panel-body">




    @using (Html.BeginForm("CreateCRUDPDF", "Documentos", null, FormMethod.Post, new { id = "newGameForm", enctype = "multipart/form-data" }))
    {

        <div class="col-lg-12">
            <input type="hidden" name="HOLEID" id="HOLEID" value="@ViewBag.holeidv" />
            <input type="hidden" name="PROJECT" value="@ViewBag.projectv" />
            <label class="col-md-12 control-label" for="inputSuccess">AÑO FISCAL</label>
            @Html.DropDownList("ID", (IEnumerable<SelectListItem>)ViewBag.subcatergoria, new { @class = "form-control input-lg mb-md", @required = "required" })
            <input type="file" id="ARCHIVO" name="ARCHIVO" class="form-control input-lg mb-md" />

            <input type="submit" value="Agregar"  class="btn btn-primary col-md-4"/>
            <br /><br />
        </div>


    }


    <div  id="targetDiv">
        <div class="col-lg-12">
     
            @if (ViewBag.MenuHeadSondaje.Count > 0)
            {
                <br /> <hr />
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>CATEGORÍA</th>
                                <th>DOCUMENTO</th>
                                <th>ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int nu = 0;}
                            @for (int i = 0; i < ViewBag.MenuHeadSondaje.Count; i++)

                            {
                                for (int j = 0; j < ViewBag.MenuItemSondaje.Count; j++)
                                {
                                    if (@ViewBag.MenuHeadSondaje[i].PRIMARYCODE == @ViewBag.MenuItemSondaje[j].PRIMARYCODE)
                                    {
                                        <tr>
                                            <td> @{nu = nu + 1;} @nu</td>
                                            <td>@ViewBag.MenuHeadSondaje[i].PRIMARYCODE</td>
                                            <td>
                                                @{ string nombre = @ViewBag.MenuItemSondaje[j].NAME; }


                                                @Ajax.ActionLink(
                             nombre,
                             "VisualizadorPDF",

                             new
                             {
                                 idsub = @ViewBag.MenuItemSondaje[j].NAME,
                                 holeid = @ViewBag.MenuItemSondaje[j].HOLEID
                             },
                             new AjaxOptions
                             {
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "righthandsidebox"
                             }
                             , new { @class = "btn btn-primary" }
                             )
                                            </td>

                                            <td>

                                                <div class="delete-section">




                                                    @Ajax.ActionLink("Eliminar", "eliminarPDF", new { @id = @ViewBag.holeidv, @name = @ViewBag.MenuItemSondaje[j].NAME }, new AjaxOptions
                                                   {
                                                       Confirm = "Esta segúro de eliminar el documento " + @ViewBag.MenuItemSondaje[j].PRIMARYCODE + " del sondaje " + @ViewBag.holeidv,
                                                       HttpMethod = "GET",
                                                       OnSuccess = "loadcauhoi(1)",
                                                       OnFailure = "loadcauhoi(1)",
                                                
                                                       InsertionMode = InsertionMode.Replace,
                                                       LoadingElementId = "div_loading"
                                                   }, new { @class = "DeleteApointmentsforevent" })
                                                </div>
                                            </td>

                                        </tr>   }
                                                        }

                                                    }

                        </tbody>
                    </table>
                </div>

                                                    }
                                                    else {
                                                        <br /> <hr />
                                                        <center><h3>Sin documentos digitalizados</h3></center>

                                                    }


        </div>
    </div>
    </div>











<script type="text/javascript">

      function loadcauhoi(num) {

                $.ajax({
                    dataType: "Html",
                    type: "POST",
                    url: '@Url.Action("ReAdminDocumentoSondajesAdd", "Documentos")',
                    data: { HOLEID: $("#HOLEID").val()},
                    success: function (a) {
                        // Replace the div's content with the page method's return.

                        $('#targetDiv').html(a);
                        jQuery('#BotonBuscar').click();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //alert(textStatus)
                    }
                });
            }

    $(document).ready(function () {
        $("#newGameForm").on("submit", function (e) {
 
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method") ,
                dataType: "JSON",
                data: new FormData(this),
                processData: false,

                contentType: false// "POST"
            })

            .done(function() {

                loadcauhoi(1);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {

                loadcauhoi(1);
                jQuery('#BotonBuscar').click();
            });

            jQuery(function () {
                //
            });
        });

    });

  
</script>


